---
const {
  type,
  name,
  label,
  placeholder,
  multiline = false,
  size = "md",
} = Astro.props;

type Size = "sm" | "md" | "lg";
const labelSizes: Record<Size, string> = {
  sm: "text-sm",
  md: "text-sm md:text-base",
  lg: "text-sm md:text-base lg:text-lg",
};

const inputSizes: Record<Size, string> = {
  sm: "px-2 py-1.5 text-sm",
  md: "px-3 py-2.5 md:px-4 md:py-3.5 text-sm md:text-base",
  lg: "px-3 py-2.5 md:px-4 md:py-3.5 text-sm md:text-base lg:text-lg",
};
---

<div>
  <label class={`block font-bold text-slate-600 ${labelSizes[size as Size]}`}>
    {label}
  </label>
  {
    multiline ? (
      <textarea
        name={name}
        placeholder={placeholder}
        class={`w-full mt-2 border-2 border-gray-200 rounded bg-white text-slate-900 transition-colors duration-150 ease-in-out focus:outline-none focus:border-accent min-h-[200px] resize-none ${inputSizes[size as Size]}`}
      />
    ) : (
      <input
        type={type}
        name={name}
        placeholder={placeholder}
        class={`w-full mt-2 border-2 border-gray-200 rounded bg-white text-slate-900 transition-colors duration-150 ease-in-out focus:outline-none focus:border-accent ${inputSizes[size as Size]}`}
      />
    )
  }
</div>
