---
import { getCollection } from "astro:content";
import ResponsiveWidth from "../../components/layout/ResponsiveWidth.astro";
import Link from "../../components/ui/Link";
import LinkButton from "../../components/ui/LinkButton";
import Page from "../../layouts/Page.astro";
import { kebabToTitleCase } from "../../utils/kebab";

export async function getStaticPaths() {
  const locations = await getCollection("mapLocations");

  return locations.map((location) => ({
    params: { location: location.id },
    props: {
      title: `Hikes in ${kebabToTitleCase(location.data.name)}`,
      maps: location.data.maps,
    },
  }));
}

const { location } = Astro.params;
const { title, maps } = Astro.props;
---

<Page title={title}>
  <ResponsiveWidth>
    <div class="space-y-8">
      <Link href="/maps">← Back to All Locations</Link>
      <ul class="space-y-4">
        {
          maps.map((map) => (
            <li>
              <LinkButton
                variant="secondary"
                href={`/maps/${location}/${map.id}`}
              >
                {map.name}
              </LinkButton>
            </li>
          ))
        }
      </ul>
    </div>
  </ResponsiveWidth>
</Page>
