---
import ResponsiveWidth from "../../components/layout/ResponsiveWidth.astro";
import Link from "../../components/ui/Link";
import LinkButton from "../../components/ui/LinkButton";
import Page from "../../layouts/Page.astro";
import { kebabToTitleCase } from "../../utils/kebab";
import { type HikingMapData, getAllHikesByLocation } from "../../utils/maps";

export async function getStaticPaths() {
  const { locations, locationMap } = getAllHikesByLocation();

  return Array.from(locations).map((location) => ({
    params: { location },
    props: { hikes: locationMap[location] },
  }));
}

const { location } = Astro.params;
const { hikes } = Astro.props as { hikes: HikingMapData[] };
const title = `Hikes in ${kebabToTitleCase(location)}`;
---

<Page title={title}>
  <ResponsiveWidth>
    <div class="space-y-8">
      <Link href="/maps">← Back to All Locations</Link>
      <ul class="space-y-4">
        {
          hikes.map((hike) => (
            <li>
              <LinkButton
                variant="secondary"
                href={`/maps/${location}/${hike.slug}`}
              >
                {hike.name}
              </LinkButton>
            </li>
          ))
        }
      </ul>
    </div>
  </ResponsiveWidth>
</Page>
