---
import Page from "../../layouts/Page.astro";
import PhotoGrid from "../../components/photos/PhotoGrid";

import { getCollection } from "astro:content";
import Text from "../../components/ui/Text";
import ResponsiveWidth from "../../components/layout/ResponsiveWidth.astro";
import PhotosSEO from "../../seo/PhotosSEO.astro";
import HeroCard from "../../components/ui/HeroCard";
import Grid from "../../components/ui/Grid";
import Link from "../../components/ui/Link";

const photos = await getCollection("photos");
const showcasePhotoPaths = photos
  .filter((photo) => photo.data.tags.includes("showcase"))
  .map((photo) => photo.data.slug);

const locations = await getCollection("locations");
const countries = locations.filter(
  (location) => location.data.slug.split("/").length === 1
);

const themes = await getCollection("themes");
---

<Page
  title="Photos"
  description="Sometimes a single photo is all you need to tell a story. Browse my most unique stories."
>
  <div class="space-y-8">
    <ResponsiveWidth>
      <Text variant="body">
        Browse by <Link href="/photos/countries/">place</Link> or
        <Link href="/photos/themes/">theme</Link>, or just keep scrolling :)
      </Text>
    </ResponsiveWidth>
    <ResponsiveWidth size="full">
      <PhotoGrid client:visible photos={showcasePhotoPaths} />
    </ResponsiveWidth>
    <ResponsiveWidth>
      <Text variant="h2">Places</Text>
    </ResponsiveWidth>
    <ResponsiveWidth size="full">
      <Grid>
        {
          countries.map((country) => (
            <HeroCard
              title={country.data.title}
              subtitle={`${country.data.photoSlugs.length} photo${country.data.photoSlugs.length !== 1 ? "s" : ""}`}
              imagePath={country.data.previewPhotoSlug}
              href={`/photos/${country.data.slug}`}
            />
          ))
        }
      </Grid>
    </ResponsiveWidth>
    <ResponsiveWidth>
      <Text variant="h2">Themes</Text>
    </ResponsiveWidth>
    <ResponsiveWidth size="full">
      <Grid>
        {
          themes.map((theme) => (
            <HeroCard
              title={theme.data.title}
              subtitle={`${theme.data.photoSlugs.length} photo${theme.data.photoSlugs.length !== 1 ? "s" : ""}`}
              imagePath={theme.data.previewPhotoSlug}
              href={`/photos/${theme.data.slug}`}
            />
          ))
        }
      </Grid>
    </ResponsiveWidth>
  </div>

  <PhotosSEO
    name="Photos Showcase"
    description="Nicholas Eager's Photos"
    images={showcasePhotoPaths}
  />
</Page>
