---
import Page from "../../layouts/Page.astro";
import PhotoGrid from "../../components/photos/PhotoGrid";

import { getCollection } from "astro:content";
import Text from "../../components/ui/Text";
import ResponsiveWidth from "../../components/layout/ResponsiveWidth.astro";
import PhotosSEO from "../../seo/PhotosSEO.astro";
import HeroCard from "../../components/ui/HeroCard";
import Grid from "../../components/ui/Grid";
import Link from "../../components/ui/Link";

const photos = await getCollection("photos");
const showcasePhotoPaths = photos
  .filter((photo) => photo.data.tags.includes("showcase"))
  .map((photo) => photo.data.slug);

const themes = await getCollection("photoThemes");
const sortedThemes = themes
  .sort((a, b) => (a.data.photos.length > b.data.photos.length ? -1 : 1))
  .map((t) => t.data);

const locations = await getCollection("photoLocations");
const countries = locations
  .filter((l) => !l.data.id.includes("/"))
  .map((l) => l.data);
---

<Page
  title="Photos"
  description="Sometimes a single photo is all you need to tell a story. Browse my most unique stories."
>
  <div class="space-y-8">
    <ResponsiveWidth>
      <Text variant="body">
        Browse by <Link href="/photos/countries/">place</Link> or
        <Link href="/photos/themes/">theme</Link>, or just keep scrolling :)
      </Text>
    </ResponsiveWidth>
    <ResponsiveWidth size="full">
      <PhotoGrid client:visible photos={showcasePhotoPaths} />
    </ResponsiveWidth>
    <ResponsiveWidth>
      <Text variant="h2">Places</Text>
    </ResponsiveWidth>
    <ResponsiveWidth size="full">
      <Grid>
        {
          countries.map((country) => (
            <HeroCard
              title={country.title}
              subtitle={`${country.photos.length} photo${country.photos.length !== 1 ? "s" : ""}`}
              imagePath={country.previewImage}
              href={`/photos/countries/${country.id}`}
            />
          ))
        }
      </Grid>
    </ResponsiveWidth>
    <ResponsiveWidth>
      <Text variant="h2">Themes</Text>
    </ResponsiveWidth>
    <ResponsiveWidth size="full">
      <Grid>
        {
          sortedThemes.map((theme) => (
            <HeroCard
              title={theme.title}
              subtitle={`${theme.photos.length} photo${theme.photos.length !== 1 ? "s" : ""}`}
              imagePath={theme.previewImage}
              href={`/photos/themes/${theme.id}`}
            />
          ))
        }
      </Grid>
    </ResponsiveWidth>
  </div>

  <PhotosSEO
    name="Photos Showcase"
    description="Nicholas Eager's Photos"
    images={showcasePhotoPaths}
  />
</Page>
