---
import Image from "./image-kit/Image.tsx";
import Video from "./image-kit/Video.tsx";
const { title, subtitle, media, type, videoPlaceholder, videoLowRes } =
  Astro.props;
---

<section
  class={`relative w-full ${type === "video" ? "overflow-hidden" : ""}`}
  style="height: 100vh"
>
  {
    type === "image" && (
      <Image
        path={media}
        className="object-cover w-full h-full"
        sizes="100vw"
      />
    )
  }
  {
    type === "video" && (
      <>
        <Image
          path={videoPlaceholder}
          className="absolute top-0 w-full h-full object-cover"
          sizes="100vw"
        />
        <Video
          client:visible
          path={media}
          lowResPath={videoLowRes}
          className="absolute top-0 w-full h-full object-cover"
        />
      </>
    )
  }
  <div
    class="absolute inset-0 flex flex-col items-center justify-center bg-backdrop backdrop-blur-[2px] text-white shadow-md text-center px-4"
  >
    <h1 class="text-4xl font-[700]">{title}</h1>
    <p class="text-xl mt-2">{subtitle}</p>
  </div>
</section>
