---
import Script from "./Script.astro";
import { websiteFrom } from "./types/web-site";
import { webPageFrom } from "./types/web-page";
import { siteNavigationFrom } from "./types/sitenavigation";
import { authorFrom } from "./types/author";
import { organizationFrom } from "./types/organization";

interface Props {
  title: string;
  description: string;
  image: string;
}

const { title, description, image } = Astro.props;

const currentPageCanonicalURL = new URL(Astro.url.pathname, Astro.site);
const absoluteImageUrl = new URL(
  image + ".jpg",
  "https://ik.imagekit.io/qn1gkawvy/tr:w-1280/"
);

const siteURL = Astro.site!;
const siteName = "Nicholas Eager";
const siteTitle = `${title} - Nicholas Eager`;
const siteDescription =
  "Professional outdoor photography, detailed hiking guides, and gear recommendations";

const siteNavigation = [
  { name: "Home", route: "/" },
  { name: "Photos", route: "/photos" },
  { name: "Guides", route: "/guides" },
  { name: "Gear", route: "/gear" },
  { name: "Contact", route: "/contact" },
  { name: "About", route: "/about" },
];
---

<title>{siteTitle}</title>
<link rel="canonical" href={currentPageCanonicalURL} />
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={currentPageCanonicalURL} />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={absoluteImageUrl.toString()} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={currentPageCanonicalURL} />
<meta property="twitter:title" content={siteTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={absoluteImageUrl.toString()} />

<Script
  graph={[
    authorFrom({ url: currentPageCanonicalURL }),
    organizationFrom({ url: currentPageCanonicalURL }),
    siteNavigationFrom({
      siteURL: siteURL,
      routes: siteNavigation,
    }),
    websiteFrom({
      siteName: siteName,
      siteDescription: siteDescription,
      url: currentPageCanonicalURL,
    }),
    webPageFrom({
      title: siteTitle,
      description: description,
      image: image,
      url: currentPageCanonicalURL,
      siteName: siteName,
    }),
  ]}
/>
