---
import SiteNavigation from "./types/SiteNavigation.astro";
import WebPage from "./types/WebPage.astro";
import WebSite from "./types/WebSite.astro";

interface Props {
  title: string;
  description: string;
  imageURL: URL;
  datePublished: string;
  dateModified: string;
}

const { title, description, imageURL, datePublished, dateModified } =
  Astro.props;

const currentPageCanonicalURL = new URL(Astro.url.pathname, Astro.site);

const siteURL = Astro.site!;
const siteName = "Nicholas Eager";
const siteTitle = `${title} - Nicholas Eager`;
const orginizationName = "Nicholas Eager Photography, LLC";
const orginizationImage =
  "https://ik.imagekit.io/qn1gkawvy/tr:w-1280/profile-square_7r8XDOfQj.jpg";
const siteDescription =
  "Professional outdoor photography, detailed hiking guides, and gear recommendations";

const siteNavigation = [
  { name: "Home", route: "/" },
  { name: "Photos", route: "/photos" },
  { name: "Guides", route: "/guides" },
  { name: "Gear", route: "/gear" },
  { name: "Contact", route: "/contact" },
  { name: "About", route: "/about" },
];
---

<title>{siteTitle}</title>
<link rel="canonical" href={currentPageCanonicalURL} />
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={currentPageCanonicalURL} />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageURL.toString()} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={currentPageCanonicalURL} />
<meta property="twitter:title" content={siteTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageURL.toString()} />

<WebSite
  siteName={siteName}
  siteDescription={siteDescription}
  siteURL={siteURL}
  organizationName={orginizationName}
  organizationImageURL={new URL(orginizationImage)}
/>
<WebPage
  title={siteTitle}
  description={description}
  imageURL={imageURL}
  url={currentPageCanonicalURL}
  datePublished={datePublished}
  dateModified={dateModified}
  siteName={siteName}
/>
<SiteNavigation siteURL={siteURL} routes={siteNavigation} />
