---
import FormattedDate from "../FormattedDate.astro";
import SocialShare from "../social-share/SocialShare.astro";
import YouTubeVideo from "../YouTubeVideo.astro";
import Text from "../ui/Text.tsx";
import TextContainer from "../ui/TextContainer";

// Intro.astro
interface Props {
  title: string;
  lastUpdated: Date;
  description: string;
  videoId: string;
}

const { title, lastUpdated, description, videoId } = Astro.props;
---

<div class="bg-background-alt mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="lg:grid lg:grid-cols-2 lg:gap-8">
    <!-- Left Column: Text Content -->
    <div class="space-y-6">
      <TextContainer spacing="tight">
        <Text variant="h1">
          {title}
        </Text>

        <Text variant="caption">
          Last updated: <FormattedDate date={lastUpdated} />
        </Text>
      </TextContainer>

      <div class="flex flex-wrap gap-2">
        <SocialShare url={Astro.request.url} title={title} />
      </div>

      <Text variant="body">
        {description}
      </Text>
    </div>

    <!-- Right Column: Video -->
    <div class="mt-8 lg:mt-0">
      <div class="aspect-w-16 aspect-h-9 rounded-lg overflow-hidden shadow-lg">
        <YouTubeVideo videoId={videoId} />
      </div>
    </div>
  </div>
</div>
