---
import Banner from "../components/Banner.astro";
import ResponsiveWidth from "../components/layout/ResponsiveWidth.astro";
import PhotoGrid from "../components/photos/PhotoGrid";
import Text from "../components/ui/Text";
import Layout from "../layouts/Layout.astro";
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import GallerySEO from "../seo/GallerySEO.astro";

type Props = CollectionEntry<"galleries">["data"];

const { title, description, image, tags } = Astro.props;

const photos = await getCollection("photos");
const filteredPhotoPaths = photos
  .filter((photo) => tags.every((tag) => photo.data.tags.includes(tag)))
  .map((photo) => photo.data.path);
---

<Layout
  title={title}
  description={description}
  image={image}
  navStyle="transparent"
>
  <Banner title={title} type="image" media={image} />

  <main>
    <div class="my-8 md:my-16 space-y-8">
      <ResponsiveWidth size="md">
        <Text variant="h2">{title}</Text>
      </ResponsiveWidth>
      <ResponsiveWidth size="md">
        <Text variant="body">{description}</Text>
      </ResponsiveWidth>
      <ResponsiveWidth size="lg">
        <PhotoGrid client:visible photos={filteredPhotoPaths} />
      </ResponsiveWidth>
    </div>
  </main>
  <GallerySEO
    title={title}
    description={description}
    image={image}
    images={filteredPhotoPaths}
  />
</Layout>
