---
import NavBar from "../components/NavBar";
import Footer from "../components/Footer.astro";
import KofiWidget from "../components/KoFiWidget.astro";
import Head from "../seo/Head.astro";
import BaseSEO from "../seo/BaseSEO.astro";
import DisableImages from "../scripts/DisableImages.astro";
import GoogleAnalytics from "../scripts/GoogleAnalytics.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  navStyle?: "opaque" | "transparent";
}

const {
  title,
  description,
  image = "profile-square_7r8XDOfQj",
  navStyle = "opaque",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
      media="print"
      onload="this.media='all'"
    />
    <!-- Fallback in case JavaScript is disabled -->
    <noscript>
      <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet"
      />
    </noscript>

    <!-- Add font-display swap to CSS -->
    <style>
      /* Font loading behavior */
      @font-face {
        font-family: "Poppins";
        font-display: swap;
      }
    </style>

    <!-- SEO -->
    <Head title={title} description={description} image={image} />

    <!-- Analytics -->
    <GoogleAnalytics />
  </head>
  <body>
    <NavBar client:load pathname={Astro.url.pathname} style={navStyle} />
    <slot />
    <BaseSEO title={title} description={description} image={image} />
    <DisableImages />
  </body><KofiWidget />
  <Footer />
  <!-- Spacing for kofi widget -->
  <div class="h-16"></div>
</html>
