---
// Import the fonts.css file here so that it is included on
// all pages through the use of the <Layout /> component.
import "../styles/fonts.css";

import NavBar from "../components/NavBar";
import Footer from "../components/Footer.astro";
import KofiWidget from "../components/KoFiWidget.astro";
import Head from "../seo/Head.astro";
import BaseSEO from "../seo/BaseSEO.astro";
import DisableImages from "../scripts/DisableImages.astro";
import GoogleAnalytics from "../scripts/GoogleAnalytics.astro";

interface Props {
  title: string;
  description: string;
  image?: string;
  navStyle?: "opaque" | "transparent";
}

const {
  title,
  description,
  image = "profile-square_7r8XDOfQj",
  navStyle = "opaque",
} = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <!-- Global Metadata -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <!-- Font preloads -->
    <link
      rel="preload"
      href="/fonts/poppins/poppins-bold-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/fonts/poppins/poppins-light-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/fonts/poppins/poppins-medium-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/fonts/poppins/poppins-regular-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <link
      rel="preload"
      href="/fonts/poppins/poppins-semibold-webfont.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <!-- SEO -->
    <Head title={title} description={description} image={image} />

    <!-- Analytics -->
    <GoogleAnalytics />
  </head>
  <body>
    <NavBar client:load pathname={Astro.url.pathname} style={navStyle} />
    <slot />
    <BaseSEO title={title} description={description} image={image} />
    <DisableImages />
  </body><KofiWidget />
  <Footer />
  <!-- Spacing for kofi widget -->
  <div class="h-16"></div>
</html>
