---
import Text from "../components/ui/Text";
import Layout from "../layouts/Layout.astro";
import TextContainer from "../components/ui/TextContainer";
import ResponsiveWidth from "../components/layout/ResponsiveWidth.astro";

const { frontmatter } = Astro.props;
---

<Layout
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.image}
>
  <main>
    <div class="my-8 md:my-16">
      <ResponsiveWidth>
        <Text variant="h1">{frontmatter.title}</Text>
        <Text variant="body">{frontmatter.description}</Text>
        <article class="prose prose-slate max-w-none">
          <TextContainer spacing="tight">
            <slot />
          </TextContainer>
        </article>
      </ResponsiveWidth>
    </div>
  </main>
</Layout>
