---
import Page from "../layouts/Page.astro";
import RoomDisplaySwiper from "../components/photos/RoomDisplaySwiper";
import OrderForm from "../components/form/OrderForm.astro";
import Text from "../components/ui/Text";
import ResponsiveColumnLayout from "../components/layout/ResponsiveColumnLayout.astro";
import type { CollectionEntry } from "astro:content";
import ResponsiveWidth from "../components/layout/ResponsiveWidth.astro";
import LinkButton from "../components/ui/LinkButton";
import YouTubeIcon from "/src/assets/icons/YouTube.svg";
import ExternalLink from "/src/assets/icons/ExternalLink.svg";
import { getSimilarPhotos } from "../utils/similarity";
import { getCollection } from "astro:content";
import PhotoGrid from "../components/photos/PhotoGrid";
import OrderPrintSEO from "../seo/OrderPrintSEO.astro";

type Props = CollectionEntry<"photos">["data"];

const {
  path,
  title,
  location,
  description,
  tags,
  "youtube-id": youtubeId,
  "darkroom-id": darkroomId,
} = Astro.props;

const authorName = "Nicholas Eager";
const organizationName = "Nicholas Eager Photography";
const currentYear = new Date().getFullYear();

const photos = await getCollection("photos");
const similarPhotoPaths = getSimilarPhotos(photos, tags, 10).map(
  (photo) => photo.path
);
---

<Page
  title={title}
  description={`${description} - By ${authorName}`}
  image={path}
>
  <section>
    <ResponsiveColumnLayout>
      <RoomDisplaySwiper client:load artworkPath={path} />
      <div class="w-full space-y-2">
        {
          darkroomId ? (
            <div class="p-4 space-y-4 bg-background-alt rounded-lg">
              <Text variant="body">
                Order a print to share the story in your own home.
              </Text>
              <LinkButton
                variant="primary"
                size="lg"
                href={`https://nicholaseagerphoto.darkroom.com/products/${darkroomId}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <div class="flex flex-row gap-4 align-middle items-center">
                  Order Print <ExternalLink width={18} height={18} />
                </div>
              </LinkButton>
            </div>
          ) : (
            <OrderForm />
          )
        }
        <Text variant="body">
          {title} ({location})
        </Text>
        <Text variant="caption">
          © {currentYear}
          &nbsp;{organizationName}
        </Text>
      </div>
    </ResponsiveColumnLayout>
  </section>

  <section class="flex align-middle justify-center">
    {
      youtubeId && (
        <LinkButton
          variant="secondary"
          size="lg"
          href={`https://www.youtube.com/watch?v=${youtubeId}`}
          target="_blank"
          rel="noopener noreferrer"
        >
          <div class="flex flex-row gap-2 align-middle items-center">
            <YouTubeIcon /> Watch the video behind the photo
          </div>
        </LinkButton>
      )
    }
  </section>

  <section class="prose prose-slate max-w-none">
    <ResponsiveWidth size="md">
      <h2>Licensing</h2>
      <p>
        Interested? I offer a few different types of licenses for my photos and
        footage. Read more about
        <a href="/how-to-use-my-art">how to use my art</a>.
      </p>

      <p>
        If you have any comments, questions, or other inquiries, please
        <a href="/contact">contact me</a> separately.
      </p>

      <h2>You Might Also Like</h2>
      <p>
        Want a different photo?
        <a href="/photos">Browse more photos</a>
        or look below to find what you're looking for.
      </p>
    </ResponsiveWidth>
  </section>

  <section>
    <ResponsiveWidth size="lg">
      <PhotoGrid client:visible photos={similarPhotoPaths} />
    </ResponsiveWidth>
  </section>
  <OrderPrintSEO
    title={title}
    description={description}
    image={path}
    darkroomId={darkroomId}
    youtubeId={youtubeId}
    similarImages={similarPhotoPaths}
  />
</Page>
